*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    
    /* posicionamento dos itens */
    display: flex;
    flex-direction: column;
    


}
.header-content{
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    padding-right: 20px;
}

.link {
    text-decoration: none;
    padding-left: 10px;
    color: #393939;
    
}

.btn{
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #1a73e8;
    color: #fff;
}

.icon{
    margin: 8px;
    color: #000;
    width: 20px;
    height: 20px;
}
.main-content{
    background-color: slateblue;
    flex-grow: 1;
}

.footer-content{
    background-color: chartreuse;
    height: 94px;
}
