* {
    margin: 0;
    padding: 0;
}

body {
    color: #16161f;
}


.header-top-nav{
    background-image: linear-gradient(180deg, #ccc, #fff , #ddd ) ;
    position: fixed;
    display: block;
    width: 100vw;
}

.header-top-nav > h1 {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    padding: 40px;
    font-size: 36px;
}

.header-top-nav ul li, a {
    display: inline;
    margin: 0px 10px;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 300;
    padding: 20px;
    text-decoration: none;
    
}

a:visited, a:link {
    color: #16161f;
}

.header-top-nav  ul {
    text-align: center;
    padding-bottom: 30px;
}

.header-top-nav ul li:hover {
    background-color: #fff;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 5px 5px 15px #16161f;
    transition: ease-in 0.2s;
}

.main-content {
    height: calc(100vh - 183px);
    background-image: url('../source/img/contas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 183px;
}

.main-content-container-overlay {
    height: calc(100vh - 183px);
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
}


.maincontent-container {
    display: inline-block;
    height: 30vh;
    width: 300px;
}

.img-main {
    margin-top: 50px;
    width: 550px;
    border-radius: 10px;
    

}

.img-main:hover {
    width: 560px;
    box-shadow: 15px 15px 25px #16161f;
    transition: ease-in 0.2s;
}

h2 {
    font-family: 'Roboto', sans-serif;
}


.article-content {
    display: block;
    text-align: center;
   
}

.article-content p {
    margin: 0 auto;
    text-align: justify;
    width: 550px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    overflow-y: scroll;
    height: 250px;
    
}

.container-example {
    width: 100vw;
}

.example {
    display: inline;
    width: 20vw;
    height: calc(100vh - 183px);
    float: left;
    font-family: 'Montserrat';
    font-size: larger;
    
}

.example2 {
    display: inline-block;
    width: 80vw;
    height: calc(100vh - 183px);
}

.example ul {
    text-align: center;
    
}

.example ul li:nth-child(1){
    font-weight: bold;
}

.middle-content {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content {
    display: block;
    justify-content: center;
    flex-basis: 150px;
    width: 200px;
    height: 500px;
    text-align: center;
    margin: 40px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 5px 0px 25px rgba(125,125,125,0.3);
    font-family: 'Roboto', sans-serif;
}

.text-middle-content {
    display: inline-block;
    background-color: rgba(255,140,135, 0.7);
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 100px;
    border-radius: 20px;
    padding: 10px;
}

.image-middle-content {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.image-middle-content img{
    height: 200px;
    width: 200px;
   
}

.image-middle-content:hover{
    cursor: pointer;
    width: 210px;
    height: 210px;
    box-shadow: 15px 15px 25px #16161f;
    transition: linear 0.4s;
    border-radius: 15px;
}

.box-first {
    
    background-image: url('../source/img/img3.jpg');
    background-size: cover;
}
.box-second {
    
    background-image: url('../source/img/imagem1.jpg');
    background-size: cover;
}

.box-third {
   
    background-image: url('../source/img/img1.jpg');
    background-size: cover;
}

.gradient {
    background: linear-gradient(45deg, darkgoldenrod,bisque, coral);
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}